.comment-section {
    position: relative;
}

.comment-section span {
    position: absolute;
    right: -6px;
    background: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    cursor: pointer;
}

.comment-section i {
    font-size: 30px;
}

.side-menu-container .navbar-header {
    background-color: #305b62 !important;
    border-color: #305b62 !important;
}

.seo-button:disabled:not(.active) {
    opacity: 0.5 !important;
}

.actions a, .bread_actions a, .bread-actions * {
    background-color: #eaeaea !important;
    color: #000000cc !important;
}

.bgi {
    position: relative;
    overflow: hidden;
}

.bgi:not(.showDeleteIcon) .delete-icon{
    display: none;
}

.bgi .delete-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -50px;
    left: calc(50% - 20px);
    transition: .3s;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
}

.bgi .delete-icon i {
    color: red;
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
}

.bgi:hover .delete-icon {
    bottom: 20px;
}
.tox-statusbar__branding {
    display: none;
}
.main-page textarea {
    resize: none;
}
