.flex-center{
    display: flex;
    align-items: center;
}
.flex-start{
    display: flex;
    align-items: flex-start;
}
.m-padding{
    padding-left: 18.2%;
    padding-right: 18.2%;
}
.transportation {
    padding: 30px 18.2%;
    background-color: #fff;
}
.transportation > h1 {
    margin: 60px 0 50px;
    font-weight: 900;
}
.transportation .mainContent {
    display: flex;
    justify-content: space-between;
    gap: 3%;
}
.transportation .contentItem {
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.transportation .contentItem:not(.cards) {
    max-width: 400px;
    gap: 15px;
}
.transportation .contentItem > p {
    max-width: 554px;
    line-height: 30px;
}
.transportation .transportCard {
    max-width: 345px;
    width: 100%;
    min-height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f4f7fb;
    box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
    border-radius: 20px;
    padding: 20px 30px;
    gap: 20px;
    transition: 0.3s;
}
.transportation .transportCard > p {
    line-height: 25px;
    color: #09265e;
}

.transportation .transportCard:hover {
    box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
}

.customersSection .customersSays {
    padding: 30px 18.4%;
    background-color: #fff;
    display: flex;
    gap: 4%;
    justify-content: space-between;
    align-items: start;
}
.customersReviewImg, .customersImg {
    border: 1px solid;
    padding: 5px;
}
.customersSection .customersSays .content {
    width: 36%;
}
.customersSection .customersSays .content > h1 {
    font-weight: 900;
    margin-top: 30px;
}
.customersSection .customersSays .content > p {
    padding-right: 30px;
    margin-top: 15px;
    color: #09265e;
    line-height: 30px;
}
.customersSection .customersReviewImg {
    max-width: 349px;
    width: 40%;
}
.customersSection .customersReviewImg img {
    width: 100%;
}
.customersSection .customersImg {
    width: 60%;
    max-width: 544px;
}
.customersSection .customersImg img {
    width: 100%;
}
.commercialServices {
    padding: 30px 16%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commercialServices > h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.commercialServices .container {
    gap: 20px;
}
.commercialServices .container .commercialCard {
    gap: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background: #f4f7fb;
    box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
    border-radius: 10px;
    padding: 20px;
    transition: 0.3s;
}
.commercialServices .container .commercialCard:hover {
    box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
}
.commercialServices .container .commercialCard p {
    line-height: 24px;
    font-size: 14px;
}

.image-media-upload {
    cursor: pointer;
}

.calculationInfo {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #f4f7fb;
}
.calculationInfo > h2 {
    text-align: center;
}
.calculationInfo .calculationPhases {
    gap: 3%;
    display: flex;
    margin-top: 10px;
}
.calculationInfo .calculationPhases .calculationPhase {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 155px;
    background: #fdfdff;
    box-shadow: 5px 5px 5px rgba(9, 38, 94, 0.35);
    border-radius: 20px;
    transition: 0.3s;
    text-align: center;
}
.calculationInfo .calculationPhases .calculationPhase:hover {
    box-shadow: 5px 5px 15px rgba(9, 38, 94, 0.35);
}
.calculationInfo .calculationPhases .calculationPhase .phaseIcon {
    border-radius: 50%;
    background-color: #09265e 4D;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculationInfo .calculationPhases .calculationPhase .phaseIcon .icon-Car, .calculationInfo .calculationPhases .calculationPhase .phaseIcon .icon-Car span {
    font-size: 22px;
}
.calculationInfo .calculationPhases .calculationPhase .phaseIcon span {
    font-size: 24px;
}
.calculationInfo .calculationPhases .calculationPhase.distancePhase .phaseIcon span {
    font-size: 16px;
}
.calculationInfo .calculationPhases .calculationPhase.distancePhase .phaseIcon span .path1:before {
    color: #09265e;
}

